.safes__list {
  height: calc(100% - 3rem);
  width: 100%;
}

p.sectionLeftImageText {
  color: white;
  margin-top: 4rem;
  padding-top: 11rem;
}

.content__left-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 4rem; */
}
.content__left-images > :nth-child(1) {
  margin-top: 4rem;
  height: 220px;
  width: 200px;
}

input {
  border: none;
  background-color: #20232e;
  height: 1.5625rem;
  background-color: transparent;
  outline: none;
}

button {
  border: none;
  background-color: #20232e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5625rem;
}

.searchIcon {
  height: 1.5625rem;
}

.content__left-data {
  background-image: url("./images/section_left__image.svg");
  background-size: 13.75rem 18.75rem;
  height: calc(100% - 3rem);
  background-position: center center;
  background-repeat: no-repeat;
}
