.content__right-data-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(to top, #2f3545, #1d212c); */
}

.content__right-data {
  height: calc(100% - 10rem);
  background-image: linear-gradient(to top, #151820, #2c3040);
}

.content__right-data-header {
  height: 3rem;
  border-bottom: 2px solid #222632;
  cursor: pointer;
  /* border: 1px solid white; */
}

.content__right {
  color: #5e627c;
}

.content-right div {
  background-image: linear-gradient(to top, #ff61b2, var(--f-66-db-3), #650038);
}

.content__right-data-header > :nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.content__right-data-header > :nth-child(1) p {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.content__right-data-header > :nth-child(1) > :nth-child(1) {
  color: white;
  border-bottom: 2px solid #f66db3;
}

.content__right-data-header > :nth-child(2) {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

.content__right-data-header > :nth-child(2) p {
  padding: 0.625rem;
}

.content__right-data-content {
  height: calc(100% - 3rem);
  /* overflow-y: scroll; */
}

.secrets_Logo {
  height: 10.9375rem;
  width: 9.375rem;
}

.content__right-data-content > p {
  text-align: center;

  font-size: 14px;
}

.Add-secrets {
  text-align: center;
  padding: 1rem;
  background-color: #e20074;
  color: white;
}

.Add-secrets:disabled {
  background-color: #2a2e3e;
  color: white;
}

.secrets__count {
  padding: 1%;
  height: 15%;
}

.content__right-data-content span {
  color: white;
}
