.content__right-header {
  position: relative;
}

.content__right {
  width: calc(100% - 35%);
}

.sectionRightBannerImage {
  width: 100%;
}

h2 {
  color: white;
  padding: 0.9375rem;
}

p {
  padding: 0.9375rem;
}

.sectionRight__Content {
  position: absolute;
  top: 30%;
  right: 14%;
  bottom: 0%;
}
